.Carousel {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  display: flex;
  padding: 1rem 0.2rem;
  border-bottom: 1px solid #535353;
}

.Side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 0.2rem;
  height: 100%;
}

.Next {
  z-index: 10;
  right: 0;
  top: 0;
  background: linear-gradient(to left, #222222 50%, transparent);
}

.Next button {
  right: 1.5rem;
}

.Previous {
  z-index: 10;
  left: 0;
  top: 0;
  background: linear-gradient(to left, transparent, #222222 50%);
}

.Previous button {
  left: -0.7rem;
}

.Side button {
  position: relative;
  display: none;
  top: -6%;
  z-index: 20;
  outline: none;
  border: none;
  font-size: 60;
  background: none;
  color: white;
}

.Carousel:hover .Side button {
  display: inline;
}

.Side button:hover,
.Side:hover button {
  cursor: pointer;
  color: #e6269c;
}

.TitleRow {
  box-sizing: border-box;
  padding: 1rem 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Title {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.2s ease-out;
}

.Title:hover {
  cursor: pointer;
  color: #e6269c;
}

.Actions {
  color: white;
}

.Dot {
  margin: 2px;
  padding: 0;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background-color: white;
  transition: background-color 0.2s ease-out;
}

.Dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
}

.Dots:hover {
  cursor: pointer;
}

.Dots:hover .Dot {
  background-color: #e6269c;
}

.Cards {
  position: relative;
  box-sizing: inherit;
  overflow: hidden;
  display: flex;
  padding: 0 0.5rem;
  margin: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .Cards {
    padding: 0 3rem;
  }

  .Side {
    width: 3rem;
  }

  .Previous button {
    left: 1.5rem;
  }

  .TitleRow {
    padding: 1rem 3.5rem;
  }
}
