.Banner {
  position: absolute;
  box-sizing: inherit;
  width: 100%;
  height: 600px;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  opacity: 0;
  background: url('../../assets/images/mandalorian-poster.png') top/cover
      no-repeat border-box,
    #222222;
  transition: opacity 0.5s ease-out;
}

.Visible {
  opacity: 1;
}
